<form roll="form">
    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <label for="question" class="control-label">Question</label>
                <input type="text" ng-model="poll.question" class="form-control" id="question" placeholder="Enter new poll question" />
            </div>
        </div>

    </div>

    <div class="form-group">
        <label for="answer" >Answers</label>
        <div class="form-group" data-ng-repeat="answer in poll.answers">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" ng-model="answer.answer" name="" class="form-control" placeholder="Enter poll answer" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle" ng-click="removeAnswer(answer)" />
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        <input type="submit" class="btn btn-primary" ng-click="addNewAnswer()" value="Add poll answer" />

        <input type="submit" class="btn btn-primary" ng-click="savePoll()" value="Save" />
    </div>
</form>